.Attendancepage{
    height: 100vh;
    overflow: auto;
    background-color: #070F2B;
}
.heading{
    color: white;
    text-align: center;
}
.upsend{
    background-color: #E493B3;
}
.present{
    background-color: #BFEA7C;
}
.upsend, .present{
    /* height: 100px; */
    width: 100px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}