.teacherbody{
    background-color: #3C5B6F;
    height: 100vh;
    overflow: auto;
}
.Teacherform{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: #5fbcd8;
    text-align: center;
    font-weight: bold;
    
}
ErrorMessage{
    color: red;
}